.nav {
  display: grid;
  grid-template-columns: 8fr 3fr 1fr;
  border-bottom: 1px solid rgba(85, 44, 20, 0.2);
  width: 100%;
  margin-top: 10px;
}
.navItemStart {
  padding-left: 10px;
  align-self: center;
}
.navItemEnd {
  align-self: center;
  text-align: center;
}
.navItemUser {
  text-align: end;
}
.greeting {
  padding-right: 10px;
  align-content: space-around;
}
