.grid {
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(9, 10%);
  grid-gap: 10px;
  align-items: flex-end;
  margin-bottom: 10px;
}
.label {
  font-size: 18px;
}
.add_row {
  margin-bottom: 40px;
}

.input {
  width: 100%;
  margin-top: 5px;
}

.input_btn {
  display: flex;
}
.input_btn_one {
  padding-right: 40px;
}
.input_btn_one input {
  background-color: #5c9335;
  box-shadow: none;
  color: white;
  border: 1px solid #5c9335;
  border-radius: 8px;
  margin-right: 5px;
  text-transform: uppercase;
}
.input_btn_one input:hover {
  cursor: pointer;
  background-color: white;
  color: #5c9335;
}

.input_btn input {
  background-color: #5c9335;
  box-shadow: none;
  color: white;
  border: 1px solid #5c9335;
  border-radius: 8px;
  margin-right: 5px;
  text-transform: uppercase;
}
.input_btn input:hover {
  cursor: pointer;
  background-color: white;
  color: #5c9335;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
