@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.content {
  max-width: 100%;
}
.main {
  max-width: 960px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  text-align: center;
  margin-top: 80px;
  grid-gap: 20px;
}
.gridItem {
  background-color: #5c9335;
  border-radius: 8px;
  padding: 30px 0;
  color: white;
  border: 1px solid #5c9335;
  max-height: 70px;
}
.gridItem:hover {
  color: #5c9335;
  background-color: white;
  cursor: pointer;
}
