@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.content {
  max-width: 100%;
}
.main {
  max-width: 960px;
  margin: 0 auto;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
  font-weight: 400;
}
.btn {
  display: block;
  margin: 10px auto;
  padding: 10px 28px;
  background-color: #5c9335;
  box-shadow: none;
  color: white;
  border: 1px solid #5c9335;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 210px;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  color: #5c9335;
}
