.heading {
  text-align: center;
  padding: 90px 0 30px 0;
  font-size: 40px;
}
.loginForm {
  text-align: center;
}
.formContent {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 8px;
  padding: 10px 5px;
  min-width: 200px;
}
.labelEmail {
  padding-right: 80px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.labelPassword {
  padding-right: 130px;
  font-size: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
